<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802920906172-qo6cns5r2eqess5ke993pkm4ihrnuh4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802920906172-qo6cns5r2eqess5ke993pkm4ihrnuh4s</string>
	<key>API_KEY</key>
	<string>AIzaSyDzwpK-vdLsBfXO2bXR5U7KnkNxpqlFfMs</string>
	<key>GCM_SENDER_ID</key>
	<string>802920906172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiishidart.komyuniti</string>
	<key>PROJECT_ID</key>
	<string>komyuniti-9b5b4</string>
	<key>STORAGE_BUCKET</key>
	<string>komyuniti-9b5b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802920906172:ios:5359ce1dc8683c307cffb9</string>
</dict>
</plist>